<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard-posts</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.1.1/dist/css/tabler.min.css" />

    <!--customize Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet" />

    <style>
        :root {
            --tblr-font-sans-serif: "Inter";
        }
    </style>
</head>

<body>
    <div class="page">
        <!-- Sidebar -->
        <aside class="navbar navbar-vertical navbar-expand-sm" data-bs-theme="dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <h1 class="navbar-brand navbar-brand-autodark">
                    <a href="#">
                        <img src=url(../images/avatar.jpg) width="110" height="32" alt="Dashboard"
                            class="navbar-brand-image" />
                    </a>
                </h1>
                <div class="collapse navbar-collapse" id="sidebar-menu">
                    <ul class="navbar-nav pt-lg-3">
                        <li class="nav-item">
                            <a href="./dashboard.html" class="nav-link">
                                <span class="nav-link-title">后台首页</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./dashboard-posts.html">
                                <span class="nav-link-title"> 文章管理 </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="nav-link-title"> 用户管理 </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="nav-link-title"> 评论管理 </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <span class="nav-link-tile">日志管理</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <!-- 文章管理页面 -->
        <div class="page-wrapper" id="edit">
            <div class="row row-deck row-cards">
                <div class="col-12">
                    <div class="card m-4">
                        <div class="card-body border-bottom py-3">
                            <div class="d-flex">
                                <div class="ms-auto text-secondary">
                                    <div class="ms-2 d-inline-block">
                                        <input type="text" class="form-control form-control m-0"
                                            aria-label="Search invoice" placeholder="Search for…">
                                    </div>
                                    <div class="ms-2 d-inline-block">
                                        <a href="#" class="btn btn-icon" aria-label="Button">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="20" height="20"
                                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                                stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <circle cx="10" cy="10" r="7" />
                                                <line x1="21" y1="21" x2="15" y2="15" />
                                            </svg>
                                        </a>
                                        <a href="./dashboard-edit.html?edit=new" name="create_post" class="btn btn-primary btn-5 d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
                                            <!-- Download SVG icon from http://tabler.io/icons/icon/plus -->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-2">
                                              <path d="M12 5l0 14"></path>
                                              <path d="M5 12l14 0"></path>
                                            </svg>
                                            新建文章
                                          </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive ">
                            <table class="table table-selectable card-table table-vcenter text-nowrap datatable">
                                <thead>
                                    <tr>
                                        <th>文章id</th>
                                        <th>文章标题</th>
                                        <th>分类</th>
                                        <th>标签</th>
                                        <th>状态</th>
                                        <th>发布时间</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="post_list">

                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer d-flex align-items-center">
                            <ul class="pagination m-0 ms-auto">
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script src="{{ url_for('static', filename='dashboard.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.1.1/dist/js/tabler.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded',
            function () {
                post_load();

                const create_post = document.querySelector('a[name="create_post"]');
                create_post.addEventListener('click', function (e) {
                    e.preventDefault();
                    window.location.href = create_post.getAttribute('href');
                });
            });
    </script>
</body>

</html>