<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign-in</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.1.1/dist/css/tabler.min.css" />

    <!--customize Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet" />

    <style>
        :root {
            --tblr-font-sans-serif: "Inter";
        }
    </style>
</head>
<body>
    <div class="page page-center">
        <div class="container container-tight py-4">
          <div class="card card-md">
            <div class="card-body">
              <form action="#" method="post" autocomplete="off" novalidate="">
                <div class="mb-3">
                  <label class="form-label">Username</label>
                  <input type="text" class="form-control" placeholder="username" autocomplete="off" name="username">
                </div>
                <div class="mb-2">
                  <label class="form-label">
                    Password
                    <span class="form-label-description visually-hidden">
                      <a href="#">I forgot password</a>
                    </span>
                  </label>
                  <div class="input-group input-group-flat">
                    <input type="password" class="form-control" placeholder="Your password" autocomplete="off" name="password">
                    <span class="input-group-text">
                      <a href="#" class="link-secondary" data-bs-toggle="tooltip" aria-label="Show password" data-bs-original-title="Show password">
                        <!-- Download SVG icon from http://tabler.io/icons/icon/eye -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                          <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                          <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"></path>
                        </svg>
                      </a>
                    </span>
                  </div>
                </div>
                <div class="mb-2">
                  <label class="form-check">
                    <input type="checkbox" class="form-check-input">
                    <span class="form-check-label">Remember me on this device</span>
                  </label>
                </div>
                <div class="form-footer">
                  <button type="submit" class="btn btn-primary w-100">Sign in</button>
                </div>
              </form>
            </div>
          </div>
          <div class="text-center text-secondary mt-3">Don't have account yet? <a href="./sign-up" tabindex="-1">Sign up</a></div>
        </div>
      </div>
    <script>
        async function login(){
            let username = document.querySelector('input[type="text"]').value;
            let password = document.querySelector('input[type="password"]').value;
            if (username === '' || password === '') {
                alert('Username and password cannot be empty');
                return false;
            }
            let data = {
                "username": username,
                "password": password
            };
            let promise = await fetch('/api/v1/auth/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
            let response = await promise.json();
            if (response.code === 200) {
                console.log(response.message)
                console.log("success to login")
                //window.location.href = '/';
            }else {
                alert(response.message);
            }
        }
        document.querySelector('button[type="submit"]').addEventListener('click', (e) => {
            e.preventDefault();
            login();
        })

        window.onload = function () {
            let username = document.querySelector('input[type="text"]');
            let password = document.querySelector('input[type="password"]');
            username.value = localStorage.getItem('username');
            password.value = localStorage.getItem('password');
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.1.1/dist/js/tabler.min.js"></script>
</body>
</html>