<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POST</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.1.1/dist/css/tabler.min.css" />

    <!--customize Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet" />

    <style>
        :root {
            --tblr-font-sans-serif: "Inter";
        }
    </style>
</head>

<body>
    <div class="page">
        <!--navbar -->
        <header class=" navbar navbar-expand-md d-print-none">
            <div class="container-xl">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="javascript:void(0)">
                            <span class="nav-link-icon">
                                <!-- Download SVG icon from http://tabler.io/icons/icon/home -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-home">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                                    <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                                    <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
                                </svg>
                            </span>
                            <span class="nav-link-title"> 首页 </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">
                            <span class="nav-link-title"> 分类 </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">
                            <span class="nav-link-title"> 标签 </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <span class="nav-link-title">Github</span>
                        </a>
                    </li>
                </ul>
                <div class="navbar-nav flex-row order-md-last ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown"
                            aria-label="Open user menu">
                            <span class="avatar avatar-sm" style="background-image: url(../images/avatar.jpg)"></span>
                            <div class="d-none d-xl-block ps-2">
                                <div>Sec0zrc</div>
                                <div class="mt-1 small text-secondary">loser</div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <a href="#" class="dropdown-item">Register</a>
                            <a href="./profile.html" class="dropdown-item">Login</a>
                            <a href="./sign-in.html" class="dropdown-item">Logout</a>
                            <a href="#" class="dropdown-item">Dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- posts content -->
        <div class="page-wrapper">
            <div class="page-body page-center">
                <div class="container-sm w-50">
                    <article class="mt-5 mb-5">
                        <p class="lh-lg">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe odit veniam aperiam obcaecati, commodi, quisquam dolorum vitae cupiditate laborum iusto nulla iure dolores hic vel assumenda suscipit in! Nisi, quibusdam!
                            Explicabo ullam placeat inventore, neque modi dolores similique tempore? Natus est placeat, repudiandae laudantium id aperiam fugiat voluptatem, a nisi optio voluptas dolores. Assumenda sunt officia sit, aliquid suscipit voluptas!
                            Saepe provident doloribus omnis dolorum in consectetur! Quidem facere praesentium non excepturi voluptas maiores! Delectus, officia reiciendis similique, modi rerum cumque doloribus soluta dolorem a consectetur, tenetur exercitationem porro ducimus?
                            Officiis dicta labore possimus voluptatibus ad neque, distinctio maxime aliquid alias atque soluta delectus suscipit error. Beatae minus itaque nostrum blanditiis enim expedita quos voluptatem, facere modi. Ipsa, nostrum voluptate!
                            Et eum, laudantium voluptates beatae officiis ducimus at quia voluptatibus reprehenderit quae, fugit earum aperiam architecto laborum! Excepturi dolore sunt itaque ratione illum distinctio, iure voluptatum et corrupti! A, ipsa.
                            Ut velit ipsam quod ipsum perferendis quis officia odit aperiam magni sunt unde porro repellendus, eaque eos dolorum voluptas praesentium voluptatem consectetur? Ut error sequi, alias sint earum recusandae doloremque.
                            Animi voluptas numquam nobis incidunt sunt quaerat dicta quis doloribus repellat magni minus ad quod tenetur, cupiditate, dolorum facere culpa. Nam rem numquam sit dolor nisi impedit? Explicabo, placeat nemo!
                            Excepturi nisi debitis itaque omnis libero eos? Ut, reiciendis. Alias a deleniti repudiandae iste qui assumenda quos provident neque quo corporis, et dolorem nobis accusamus excepturi, soluta fuga quibusdam eligendi.
                            Reprehenderit est quis saepe, dolores minima libero consequatur iure corrupti expedita blanditiis quisquam nemo delectus dolore. Id corporis similique quaerat maiores mollitia. Nobis hic, molestiae repellat ducimus sint ex veniam!
                            Reprehenderit atque voluptate commodi tempore recusandae vitae enim totam velit incidunt aut mollitia, earum cum minus, provident doloremque cupiditate nemo dolore autem magnam beatae, placeat ea. Cumque laudantium adipisci dolorem.
                            Atque quisquam cupiditate aliquam praesentium quas! Numquam velit magnam perspiciatis architecto sapiente ex non tempore beatae, fugiat facere ea deserunt perferendis quisquam, adipisci mollitia id sed quam. Id, aspernatur voluptatum?
                            Obcaecati natus itaque illum, id in ullam ex ipsum veniam vel cupiditate molestiae libero blanditiis. Ea atque, autem dolore, cum sapiente delectus eos et aut sint, itaque veritatis molestiae consequuntur?
                            Quia impedit corporis omnis quo ut praesentium fugit cum odit animi dolor quaerat amet quam delectus eius voluptas veritatis incidunt quod fuga nesciunt numquam accusamus, aliquid perspiciatis. Laudantium, expedita tenetur.
                            Aliquid laboriosam et temporibus, vero iure eligendi doloremque nobis impedit maxime, labore nisi eius porro quo blanditiis aut ea. Sapiente eos hic corrupti nam id totam obcaecati fugit dolor temporibus?
                            Enim deleniti accusantium amet natus, eos, mollitia rem tempora est soluta, tenetur adipisci veritatis qui! Voluptatem ullam saepe esse quae laborum facere ipsa perferendis, vel, provident, ipsam eveniet est aliquam.
                            Inventore nulla magnam pariatur ea, culpa quis sit necessitatibus maiores harum possimus laboriosam, dolorum quibusdam ab fugiat facilis. Pariatur inventore cum rem libero unde vitae, dolores minima commodi optio fuga.
                            Beatae id asperiores quia harum nisi ad perferendis dolores voluptas dolorem placeat, quaerat, omnis ipsa rerum laudantium blanditiis, aut eos. Maxime nulla cupiditate distinctio unde officia molestiae pariatur dignissimos incidunt.
                            Nesciunt minus tenetur nemo? Qui cupiditate nemo consequuntur at iure corporis libero accusantium quaerat rerum, quae minus tenetur quos, fuga maxime fugit facere. Itaque delectus amet, atque porro ea eum.
                            Asperiores, tenetur doloremque repellat animi illum eius quae est, quas expedita harum, aliquam dignissimos tempora cum facilis sit. Tempore earum est ab rerum dolores asperiores facere ipsam unde porro accusantium.
                            Iure atque vero fuga nulla explicabo, dolores porro praesentium dignissimos id, recusandae facere ipsam cupiditate dolor eligendi libero reiciendis suscipit nihil totam error? Animi nulla culpa perferendis temporibus reprehenderit expedita.
                            Voluptates, officia? Veniam amet repudiandae eaque recusandae alias magni incidunt? Similique impedit fugit quia corporis nemo itaque aliquam in, iure, iusto debitis sapiente vero libero quis! Quam iure at voluptatum?
                            Distinctio possimus fugit ipsam numquam facilis et saepe, eos molestias illo ipsa, magnam nam eius ut commodi quia, eaque excepturi natus mollitia iste impedit! Harum eveniet quas maxime unde odio?
                            Ex asperiores ipsa fugit provident architecto, suscipit aliquam vel delectus ea minima amet magnam expedita ipsum laborum corrupti, mollitia veniam fuga dolores! Accusamus iusto modi id sunt dolore facere autem?
                            Distinctio culpa totam esse officiis, quibusdam deserunt eius sint ullam vitae provident beatae ab! Fuga sapiente unde aspernatur a odit consequatur commodi temporibus qui nobis eaque placeat neque, aperiam laudantium.
                            Voluptatibus, possimus quos, ipsa optio aspernatur ipsum deserunt beatae quasi cumque sequi deleniti sed est odio cupiditate? Laboriosam rem, aperiam natus ipsam quasi atque, delectus iste quos quod, quo illo!
                            Nulla veniam, ratione assumenda odit aliquam sit distinctio quos tempore totam natus culpa, tempora minima porro et recusandae rerum. Illum enim consequatur delectus. Libero voluptatibus consequuntur modi aliquam, vitae doloribus?
                            Sapiente ab voluptatem illo sed pariatur tempore architecto officia nisi, voluptate, ipsa unde voluptas fugit. Modi vitae incidunt natus deserunt molestiae fugiat ratione praesentium architecto aspernatur. Alias laborum a voluptates.
                            Doloremque neque aperiam reprehenderit ea maiores. Illo delectus voluptate ipsum eligendi sequi reiciendis provident ipsam modi facere perspiciatis iure qui beatae nesciunt quidem impedit cupiditate maiores blanditiis eaque, dolore odit.
                            Culpa repudiandae similique tenetur, illo enim dolorem adipisci voluptatibus ipsa dolores voluptatem debitis ipsam aliquam incidunt dignissimos voluptatum beatae itaque qui a consequuntur magni quibusdam ut aut cupiditate hic. Quo.
                            Exercitationem saepe repellat sapiente. Cumque nemo labore recusandae. Pariatur ratione iure architecto cupiditate provident asperiores similique sit voluptates cum rerum quas eius, facilis voluptatem excepturi ea nihil exercitationem, ut voluptas.
                            Hic facere doloribus iure corrupti sapiente repellat quo, sed voluptatibus dolor officiis vel dolorem debitis dignissimos! Vitae, vero dolore totam quod omnis numquam tenetur in repellendus earum! Doloremque, alias nulla?
                            Tempore illum, expedita deleniti beatae officiis impedit suscipit harum dicta temporibus odit dolores voluptates itaque accusantium, veritatis placeat illo cumque mollitia laboriosam animi maiores quo enim nobis a ea! Aperiam!
                            Atque suscipit consectetur provident expedita architecto voluptate, voluptas at quos magnam excepturi dicta, dolores quod ipsa molestiae officia voluptatum pariatur quia quam assumenda distinctio cumque sit! Ratione doloribus natus officiis.
                            Tempora corrupti sint at ea praesentium illum? Aperiam repellendus commodi recusandae quis. Eius nesciunt enim vero eveniet velit magnam recusandae, veritatis tempore explicabo accusantium exercitationem cumque aliquid voluptatum voluptates saepe.
                            Dignissimos, ipsam vero itaque atque nobis tempore! Voluptatem commodi officia aliquid aut esse deserunt maiores fugiat vel dignissimos temporibus rerum, quas fuga quaerat quae at nihil inventore similique, facere quo.
                            Facere commodi deleniti, a quidem delectus aperiam iste quae minima dolor necessitatibus, dolorum molestias similique recusandae at dicta vero. Nam odit maxime perferendis explicabo quis illum a possimus, quidem adipisci!
                            Hic, vel, officia maxime facilis obcaecati consequuntur, iure at fuga fugiat facere nulla! Culpa, iure adipisci maxime odit consectetur qui laborum ex numquam tempore quia esse necessitatibus doloribus, mollitia doloremque.
                            Rerum dolor doloribus possimus facilis sint fugiat facere quasi totam voluptas aliquid. Fugiat incidunt corrupti tempore atque voluptates dicta sapiente velit, quidem exercitationem reprehenderit odio maxime architecto nesciunt aut doloremque.
                            Modi corrupti optio ea enim molestias dolores, dolor minus sapiente rem. Perferendis, modi quibusdam! Deserunt, saepe iure autem qui pariatur eaque maiores laudantium, debitis dolorum possimus enim modi labore eos!
                            Excepturi quasi, asperiores id est velit harum? Quidem sed quia tempora harum atque aperiam quibusdam laboriosam veniam deleniti facilis, facere exercitationem totam molestiae consequatur incidunt, doloremque molestias ab debitis iure.
                            Ad aliquid eum voluptas corporis, corrupti vel laudantium porro laborum vero eligendi ex minima adipisci ut. Cumque dolorum perspiciatis atque inventore, sequi incidunt impedit aliquid voluptas quidem doloremque tempora est!
                            Quidem tenetur iste praesentium libero fuga. Voluptate minus fuga aut voluptas, aperiam cumque ea in nobis, expedita delectus officia nulla odit pariatur recusandae. Nam, ex? Ea voluptatibus sint eaque provident!
                            Totam odit facilis vitae consectetur voluptate quidem ullam eius exercitationem vel, quisquam debitis sapiente temporibus nemo dolores, odio voluptatibus quam magnam alias tempore dolor aspernatur maiores placeat recusandae nisi. Inventore!
                            Cupiditate, explicabo. Sint exercitationem rem deleniti, error magni facilis incidunt sequi consequatur aspernatur ducimus iusto dolore repudiandae, minus ipsum et perferendis maiores velit unde suscipit hic animi vero similique quasi.
                            Culpa voluptas nostrum veniam ab nihil, quod molestiae aliquid perferendis eaque hic totam, voluptates fuga dolor dolores distinctio molestias! Dolores adipisci modi accusantium excepturi quod, voluptas iure earum mollitia voluptatem?
                            Modi dolor sunt commodi ut vitae eum ipsum, magni hic nobis eius doloremque earum quam fuga odit eos error illum placeat, temporibus inventore, est quo delectus cupiditate nihil asperiores! Ipsam.
                            Ab soluta aliquid repellat asperiores ex quo ipsum aperiam fugit, ullam sed cum at minus numquam debitis placeat! Beatae quas perferendis rem voluptatem repellendus inventore, sunt quia vel quasi. Nesciunt?
                            Libero atque possimus repellendus maiores aperiam eaque quasi ullam velit dolorem, tenetur ut provident officiis nemo qui? Nemo dolore corporis voluptate, repudiandae sunt maxime optio officiis quia vel soluta adipisci?
                            Nostrum officiis nam, facilis ducimus modi cupiditate aliquam ipsa quia aspernatur illo itaque! Nam tempore consequatur modi possimus fugiat accusamus tempora. Tempora expedita aliquid recusandae possimus consequatur perspiciatis impedit illo.
                            Facere laboriosam sunt eligendi magnam, ipsum quos laudantium quaerat quam quisquam expedita perspiciatis vitae alias porro delectus? Beatae voluptate maxime nostrum aliquam suscipit eius, veritatis rem perferendis saepe quisquam maiores?
                            Voluptate eaque rem, facilis quod quas esse natus libero voluptatum at harum. Debitis, dolorum facilis consectetur id, fuga rerum impedit amet numquam omnis sint sunt iste, esse est accusantium quasi!
                            Minima tempora esse, maiores modi facilis commodi atque voluptatibus doloribus quas dicta ad voluptatem ut obcaecati architecto impedit pariatur sapiente necessitatibus nemo veritatis amet laborum voluptates. Sint a consequuntur possimus.
                            Accusantium unde quos enim labore autem totam consectetur! Laboriosam ut quas voluptates aperiam velit, dolores voluptate dolor exercitationem enim dolore earum neque eveniet iure impedit illo odit illum corporis quaerat.
                            Ipsam quas cupiditate facilis debitis veniam sed, perspiciatis excepturi minima ex totam blanditiis similique esse. Labore molestiae adipisci dolorem quam vel consequatur in aliquid officia? Sint maxime deserunt doloribus nesciunt.
                            Adipisci quis fugiat velit consequatur dolor mollitia rerum esse, incidunt magni molestias tempore explicabo tempora possimus saepe magnam rem dolorem dignissimos cum suscipit necessitatibus non nemo. Dolores mollitia est deserunt!
                        </p>
                    </article>
                </div>
            </div>

        </div>



    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.1.1/dist/js/tabler.min.js"></script>
</body>

</html>